@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

*{
margin: 0;
padding: 0;
border: 0;
}

body {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    color: #606060;
}

/*Heading and Logo*/
h1, h2 {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #202020;
}

#logo {
    float: left;
    margin-left: 25px;
    font-size: 200%;
}

/*Navigation Links*/

#nav-bar {
    font-size: 105%;
    letter-spacing: 2px;
}

#logo, #nav-bar {
    line-height: 50px;
}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#nav-bar a {
    text-decoration: none; 
    color: inherit;
}

#nav-bar a:hover {
    border-bottom: 2px solid #606060;
}

.current {
    border-bottom: 2px solid #606060;
}

/*Main image and Text*/
#main-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#main-image {
   
  background: url(../images/pexels-helena-lopes-1861785.jpg);
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}