@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

*{
margin: 0;
padding: 0;
border: 0;
color: #606060;
}

body {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
}

/*Heading and Logo*/
h1, h2 {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #202020;
}

#logo {
    float: left;
    margin-left: 25px;
    font-size: 200%;
}
